body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

#title {
  display: flex;
  justify-content: center;
}

#create-game-container {
  margin-top: 10px;
}

#game-canvas {
  border: 1px solid black;
}

.game-element {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#back-to-menu-btn {
  margin: 10px;
}
