body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

#title {
  display: flex;
  justify-content: center;
}

#main-game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#gameArea {
  border: 1px solid black;
}

.display-none {
  display: none;
}

#chat-container {
  margin-top: 10px;
}

#chat-messages {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 2px;
}

#leave-chat-btn {
  margin: 10px 0px;
}

/* Style pentru tema 3 */

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  width: 300px;
}

#flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flex-form > * {
  margin-bottom: 10px;
}
